body {
    background-image: url('https://static.significados.com.br/foto/da4f-cor-cinza-significados.jpg');
    background-size: auto 100vh;
      
    font-family: verdana;
   }
   
   .menu {
     background-color: white; 
   }
   .menu ul{
     display: flex;
     justify-content: space-around;
   }
   
   a {
     color: #383838;
     text-decoration: none;
   }
   
   a:hover {
     text-decoration: underline;
   }
   
   .menu li {
     list-style: none;
   }
   
   .site-subtitle, .site-title {
     color: #383838;
     text-align: center;
   }
   
   